---
layout: base.njk
---

{% include "hero.njk" %}
{% include "view-switcher.njk" %}
{% include "about.njk" %}
{% include "services.njk" %}
{% include "projects.njk" %}
{% include "skills.njk" %}
{% include "contact.njk" %}
